<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Function -->
      <package
            uri="http://www.ifrn.edu.br/hls/lib/Function/1.0"
            class="function.function.FunctionPackage"
            genModel="model/Function.genmodel"/>
   </extension>

</plugin>
