<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cdfg -->
      <package
            uri="http://www.ifrn.edu.br/cdfg/1.0"
            class="cdfg.cdfg.cdfgPackage"
            genModel="model/cdfg.genmodel"/>
   </extension>

</plugin>
